.top-nav {
	font-size: 14px;
	font-weight: bold;
	overflow: auto;
}

.top-nav li {
	float: left;
	margin-right: 1px;
}

.top-nav li a {
	line-height: 34px;
	background: #3f240e;
	color: #fff;
	display: block;
	width: 80px;
	text-align: center;
	text-decoration: none;
}

.top-nav ul {
	display: none;
	padding: 0;
	position: absolute;
}

.top-nav a:hover {
	background: url(images/slide-bg.png) 0 0 repeat-x;
}

.note {
	color: #3f240e;
	display: block;
	background: url(images/slide-bg.png) 0 0 repeat-x;
}

.corner {
	display: block;
	height: 11px;
	background: url(images/bird.png) 31px 0 no-repeat;
}